<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <title>Images</title>
  </head>
  <body style="background-image: linear-gradient(135deg, #000000, #333333);" class="bg-gray-100 dark:bg-gray-900">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 my-5">
      {% for item in d %}
        <div class="mb-4">
          <img class="object-cover object-center h-[300px] md:h-[400px] w-full rounded-lg dark:filter dark:brightness-75" src="{{ url_for('fetch_image') }}?prefix={{ item.prefix }}&suffix={{ item.suffix }}" alt="Image">
        </div>
      {% endfor %}
    </div>
  </body>
</html>
